<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "com.phonegap.example"
        versionCode = "1"
        version     = "1.0.0">

    <name>Reviews</name>
    <description>
        Testing
    </description>
    <author email="mail@jusoini.com" href="">
        Juhana Soini
    </author>
    <access origin="*" />

    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.console" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.6" />

</widget>
